@import './base.scss';

:root {
  --background-color: #fefefe;
  --foreground-color: #f5f5f5;
  --grey: #252525;
  --dark: #000;
  --greyish: #f8f8f8;
  --greyisher: #0006;
  --navbar-color: #f5f5f533;
  --navbar-border-color: #ffffff4d;
  --default-button-padding: 0.8rem;
}

.drop-shadow-dark-generic {
  box-shadow:
    rgba(61, 61, 61, 0.72) 0px 0.602187px 1.08394px -1.25px,
    rgba(61, 61, 61, 0.64) 0px 2.28853px 4.11936px -2.5px,
    rgba(61, 61, 61, 0.25) 0px 10px 18px -3.75px,
    rgba(0, 0, 0, 0.35) 0px 0.706592px 0.706592px -0.583333px,
    rgba(0, 0, 0, 0.34) 0px 1.80656px 1.80656px -1.16667px,
    rgba(0, 0, 0, 0.33) 0px 3.62176px 3.62176px -1.75px,
    rgba(0, 0, 0, 0.3) 0px 6.8656px 6.8656px -2.33333px,
    rgba(0, 0, 0, 0.26) 0px 13.6468px 13.6468px -2.91667px,
    rgba(0, 0, 0, 0.15) 0px 30px 30px -3.5px;
}

.border-radius-standard {
  border-radius: 0.75rem;
}

.transition-small {
  transition: all 150ms ease-in-out;
}

.transition-med {
  transition: all 200ms ease-in-out;
}

.transition-large {
  transition: all 250ms ease-in-out;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

.zda-blue {
  color: #1170b5;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.btn-base-util {
  white-space: nowrap;
}

.btn-intrusive {
  white-space: nowrap;
  border-radius: 0.75rem;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--dark);
  padding-top: var(--default-button-padding);
  padding-bottom: var(--default-button-padding);
  cursor: pointer;
  background-color: black;
  height: 2.5rem;
  border: none;
  transition: all 150ms;
  @extend .drop-shadow-dark-generic;

  &:hover {
    background-color: var(--grey);
    transform: translateY(2px);
    box-shadow: none;
  }
}

.btn-obscure {
  white-space: nowrap;
  border-radius: 0.75rem;
  color: var(--dark);
  padding: 0.625rem 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 250ms;
}

.btn-obscure:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
}

.icon-text-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.svg-white {
  height: 2rem;
  width: 2rem;
  color: white;
  fill: white;
}

.svg-dark {
  height: 2rem;
  width: 2rem;
  color: var(--dark);
  fill: var(--dark);
}
